<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[칼리] 비밀번호를 재설정 해주세요.</title>
</head>
<body>
<table align="center" cellpadding="0" cellspacing="0" border="0" width="640" style="background:#fff">
    <tbody><tr><td style="height:22px;font-size:0;line-height:0;">&nbsp;</td></tr><tr><td>
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody><tr><td width="280">&nbsp;</td><td width="80">
                <a href="#" target="_blank" rel="noreferrer noopener"><img src="/static/assets/images/logo.png" alt="칼리 로고" width="130" height="110" border="0" style="display:block" loading="lazy"></a>
            </td><td width="280">&nbsp;</td></tr>
            </tbody></table>
    </td></tr><tr><td style="height:13px;font-size:0;line-height:0;">&nbsp;</td></tr><tr><td align="center">
        <p style="margin:0;padding:0;font-size:12px;color:#333;line-height:18px;letter-spacing:-0.1px">
            <span th:text="${name}"></span>님 안녕하세요 마켓컬리입니다.
        </p>
        <p style="margin:0;padding:0;font-size:12px;color:#333;line-height:18px;letter-spacing:-0.1px">
            아래 버튼을 눌러 <strong style="font-size:12px;color:#333;line-height:18px;letter-spacing:-0.1px">비밀번호</strong>를 재설정 해주세요.
        </p>
    </td></tr><tr><td style="height:19px;font-size:0;line-height:0;">&nbsp;</td></tr><tr><td style="text-align:center;vertical-align:top;">
        <strong style="font-size:14px;color:#5f0080;line-height:18px;">유효 시간 : 1시간</strong>
    </td></tr><tr><td align="center" style="font-size:12px;color:#999;line-height:20px;text-align:center;vertical-align:top;">
        유효 시간 내에 비밀번호 재설정을 완료해 주세요.
    </td></tr><tr><td style="height:29px;font-size:0;line-height:0;">&nbsp;</td></tr><tr><td align="center" style="font-size:12px;color:#999;line-height:20px;text-align:center;vertical-align:top;">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody><tr><td width="235">&nbsp;</td><td width="170">
                <a th:href="${validationLink}" target="_blank" rel="noreferrer noopener"><img src="https://res.kurly.com/images/edm/2021/1005/btn_password_change.png" width="170" height="44" alt="비밀번호 재설정" border="0" style="display:block" loading="lazy"></a>
            </td><td width="235">&nbsp;</td></tr>
            </tbody></table>
    </td></tr><tr><td style="height:40px;font-size:0;line-height:0;">&nbsp;</td></tr></tbody>
</table>
<div style="height: 1px; background-color: #e0e0e0; margin: 14px 0;"></div>
<div style="color: #757575; font-size: 12px; line-height: 1; text-align: center;">
    <span>(주)마켓칼리</span>
    <span style="">|</span>
    <span>대표 김칼리</span>
    <span style="">|</span>
    <span>주소: 대구 광역시 중구 중앙대로 363 999층</span>
    <span style="">|</span>
    <span>문의: 070-0000-0000</span>
</div>
<div style="color: #757575; font-size: 12px; margin-top: 2px; text-align: center;">&copy; 2024 Kurly-Clone.</div>
<div style="height: 1px; background-color: #e0e0e0; margin: 14px 0;"></div>
<div style="font-size: 14px; font-weight: 500; text-align: center;">해당 이메일은 마켓컬리 클론코딩 프로젝트 이메일임으로 착오 없으시길 바랍니다.</div>
</body>
</html>