<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>칼리 - 마켓칼리</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/market-benefit/assets/styles/market-benefit.css'}">
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>

<main class="-spring" id="main">
    <ul class="banner">
        <li class="item">
            <a href="#">
                <span><img alt="img1" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/87749b97-65da-49c5-a57e-dbd6fc32ba39.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        <li class="item">
            <a href="#">
                <span><img alt="img2" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/43b7c55c-ff2b-4ba0-a2e6-ced62fa710c7.png" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img3" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/844ca95c-3f7a-4436-9039-97e9dc5cb3b7.png" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img4" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/ec289315-153b-477d-8c49-ccb303b25535.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img5" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/8ffba758-79ba-4ee8-b512-405edc032215.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>

        <li class="item">
            <a href="#">
                <span><img alt="img6" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/9ea00f74-8e8e-41ce-9cc9-c1764f149951.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img7" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/b2342a62-152a-4cc2-bf66-654ab35f7bb1.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img8" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/7f068567-3ffd-4f02-9628-2721a6cff6cb.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img9" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/4dd59d9a-7b38-489f-9493-e2092f843e83.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>

        <li class="item">
            <a href="#">
                <span><img alt="img10" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/bb4801ff-688b-4e80-938d-77c01ce31ab8.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img11" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/2243b43a-9dbe-45c0-9fe3-efcf0c7a3bee.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img12" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/d80847d5-3b58-473f-8c3a-2093c822ef78.png" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <span><img alt="img13" src="https://product-image.kurly.com/hdims/resize/%5E%3E1050x%3E200/cropcenter/1050x200/quality/85/src/banner/event/f5ef9ea1-c7fd-42a5-8fe4-351865d25fb3.jpg" decoding="async" data-nimg="fill" class="img"></span>
            </a>
        </li>

    </ul>
</main>

<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>