<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 - 칼리</title>
</head>
<body>
<footer th:fragment="footerFragment" id="footer">
    <div class="notice">
        <div class="container">
            <div class="left">
                <p class="title">고객행복센터</p>
                <strong class="contact">1644-0000
                    <span class="text">월~토요일 오전 7시 - 오후 6시</span>
                </strong>
                <div class="inquiry-container">
                    <div class="inquiry-box">
                        <button class="button">카카오톡 문의</button>
                        <div class="text">월~토요일
                            <svg width="1" height="10" viewBox="0 0 1 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg"><line x1="0.5" y1="2.18557e-08" x2="0.5" y2="10" stroke="#ccc"></line>
                            </svg>오전 7시 - 오후 6시<br>일/공휴일<svg width="1" height="10" viewBox="0 0 1 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg"><line x1="0.5" y1="2.18557e-08" x2="0.5" y2="10" stroke="#ccc"></line></svg>오전 7시 - 오후 1시
                        </div>
                    </div>
                    <div class="inquiry-box">
                        <button class="button">1:1 문의</button>
                        <div class="text">365일<br>고객센터 운영시간에 순차적으로 답변드리겠습니다.
                        </div>
                    </div>
                    <div class="inquiry-box">
                        <button class="button">대량주문 문의</button>
                        <div class="text">월~금요일<svg width="1" height="10" viewBox="0 0 1 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-w0fx7a eam2qm50"><line x1="0.5" y1="2.18557e-08" x2="0.5" y2="10" stroke="#ccc"></line></svg>오전 9시 - 오후 6시<br>점심시간<svg width="1" height="10" viewBox="0 0 1 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-w0fx7a eam2qm50"><line x1="0.5" y1="2.18557e-08" x2="0.5" y2="10" stroke="#ccc"></line></svg>낮 12시 - 오후 1시
                        </div>
                    </div>
                </div>
                <div class="notice">실제 문의 서비스는 제공되지 않습니다.</div>
            </div>
            <div class="right">
                <a href="#" class="title">팀 소개</a>
                <div class="info-box22">
                    프로젝트명 : 마켓칼리 | 마켓컬리를 클론 코딩하여 만든 풀스택 웹개발 프로젝트
                    <br>
                    팀원 : 기문승 김명식 배홍섭
                    <br>
                    기간 : 2024-12-02 - 2025-01-10
                    <br>
                    문의<span class="highlight"> : ghdtjq0118@gmail.com</span>
                    <br>
                    GitHub<a class="highlight" href="https://github.com/bhs0402/market_project.git"> : https://github.com/bhs0402/market_project.git</a>
                </div>
                <ul class="icon-menu">
                    <li class="item333">
                        <img src="https://res.kurly.com/pc/ico/1810/ico_instagram.png" alt="인스타그램">
                    </li>
                    <li class="item333">
                        <img src="https://res.kurly.com/pc/ico/1810/ico_fb.png" alt="페이스북">
                    </li>
                    <li class="item333">
                        <img src="https://res.kurly.com/pc/ico/1810/ico_blog.png" alt="블로그">
                    </li>
                    <li class="item333">
                        <img src="https://res.kurly.com/pc/ico/1810/ico_youtube.png" alt="유튜브">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="desc">이 사이트는 팀 프로젝트로 마켓 컬리를 클론 코딩한 사이트입니다. <br> 결제, 배송과 같은 실제 서비스를 제공하지 않으니 이점 유의 바랍니다.</div>
</footer>
</body>
</html>