<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhs.sssss.mappers.EmailTokenMapper">

    <insert id="insertEmailToken"
            parameterType="com.bhs.sssss.entities.EmailTokenEntity">
        INSERT INTO `kurly`.`email_tokens` (`user_email`, `key`, `created_at`, `expires_at`, `is_used`, `is_verified`)
        VALUES (#{userEmail}, #{key}, #{createdAt}, #{expiresAt}, #{isUsed}, #{isVerified})
    </insert>

    <update id="updateEmailToken"
            parameterType="com.bhs.sssss.entities.EmailTokenEntity">
        UPDATE `kurly`.`email_tokens`
        SET `created_at` = #{createdAt},
            `expires_at` = #{expiresAt},
            `is_used` = #{isUsed},
            `is_verified` = #{isVerified}
        WHERE `user_email` = #{userEmail}
          AND `key` = #{key}
        LIMIT 1
    </update>

    <select id="selectEmailTokenByEmailAndKey"
            resultType="com.bhs.sssss.entities.EmailTokenEntity">
        SELECT `user_email`  AS `userEmail`,
               `key`         AS `key`,
               `created_at`  AS `createdAt`,
               `expires_at`  AS `expiresAt`,
               `is_used`     AS `isUsed`,
               `is_verified` AS `isVerified`
        FROM `kurly`.`email_tokens`
        WHERE `user_email` = #{userEmail}
          AND `key` = #{key}
        LIMIT 1
    </select>

    <select id="selectEmailTokenByEmail"
            resultType="com.bhs.sssss.entities.EmailTokenEntity">
        SELECT `user_email`  AS `userEmail`,
               `key`         AS `key`,
               `created_at`  AS `createdAt`,
               `expires_at`  AS `expiresAt`,
               `is_used`     AS `isUsed`,
               `is_verified` AS `isVerified`
        FROM `kurly`.`email_tokens`
        WHERE `user_email` = #{userEmail}
        LIMIT 1
    </select>


</mapper>