<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/member/assets/styles/find.css'}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/member/assets/scripts/recover-password.js'}"></script>
    <script th:if="${userEmail == null || key == null}">
        alert('올바르지 않은 접근입니다.');
        if(history.length > 1){
            history.back();
        } else {
            window.close();
        }
    </script>
    <title>칼리 - 마켓칼리</title>
</head>
<body th:if="${userEmail != null && key != null}">
<div th:replace="~{fragments/header :: headerFragment}"></div>
<main id="main">
    <div class="title">
        <span class="title-text">비밀번호 재설정</span>
    </div>
    <div class="recover-container">
        <form id="recover-form">
            <div class="recover-wrapper">
                <div class="label-container">
                    <label class="label">
                        <span>새 비밀번호 등록</span>
                        <input type="password" class="password" name="password" placeholder="새 비밀번호를 입력해 주세요">
                    </label>
                    <span class="-warning"></span>
                </div>
                <div class="label-container">
                    <label class="label">
                        <span>새 비밀번호 확인</span>
                        <input type="password" class="passwordCheck" name="passwordCheck" placeholder="새 비밀번호를 한번 더 입력해 주세요" autocomplete="off">
                    </label>
                    <span class="-warning"></span>
                </div>
            </div>
            <label class="hidden">
                <input type="hidden" name="email" th:value="${userEmail}">
                <input type="hidden" name="key" th:value="${key}">
            </label>
            <div class="button-container">
                <button class="recover --obj-button --color-disabled" type="submit">
                    <span class="text">비밀번호 변경</span>
                </button>
            </div>
        </form>
    </div>
</main>
<div class="result-container">
    <div class="result-page">
        <div class="content-box" rel="success">
            <p class="first">
                <span id="username"></span>
                님의 <br> 비밀번호가 변경되었습니다.
            </p>
            <p class="second">
                다시 로그인해 주세요.
            </p>
        </div>
        <div class="content-box" rel="failure">
            <p class="first">
                <span>비밀번호 재설정 실패</span>
                <br> 링크가 올바르지 않거나 손상되었을 수 있습니다.
            </p>
            <p class="second">
                비밀번호 재설정을 다시 시도해 주세요.
            </p>
        </div>
        <div class="content-box" rel="failure-expired">
            <p class="first">
                <span>비밀번호 재설정 실패</span>
                <br> 해당 링크는 더 이상 유효하지 않습니다.
            </p>
            <p class="second">
                비밀번호 재설정을 다시 시도해 주세요.
            </p>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>